Assignment-1/licences.csv
Assignment-1/licences.txt
Assignment-2/articles/*
Assignment-2/deliverables/*
Assignment-2/task1/CleanWordCount/*
Assignment-2/task2/InitialCount/*
Assignment-2/task3/TopK/*
Assignment-2/task4/InvertedIndex/*
Assignment-3/aws/input_data/*
Assignment-3/aws/task1/TripFareJoin/*
Assignment-3/deliverables/*
Assignment-3/local/input_data/*
Assignment-3/local/task1/TripFareJoin/*
Assignment-3/local/task2-a/FareAmounts/*
Assignment-3/local/task2-b/TripAmount/*
Assignment-3/local/task2-c/NumberPassengers/*
Assignment-3/local/task2-d/TotalRevenue/*
Assignment-3/local/task2-e/MedallionTrips/*
Assignment-3/local/task2-f/UniqueTaxis/*
Assignment-3/local/task3/VehicleJoin/*
Assignment-3/local/task3/input_data/*
Assignment-3/local/task4-a/VehicleType/*
Assignment-3/local/task4-b/Top10Revenue/*
*.csv
*.txt
